<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianxin.dao.LogMapper">
  <resultMap id="BaseResultMap" type="com.tianxin.entity.Log">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="level" jdbcType="VARCHAR" property="level" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, action, ip, createtime, content, level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from logs
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from logs
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tianxin.entity.Log">
    insert into logs (Id, action, ip, 
      createtime, content, level
      )
    values (#{id,jdbcType=INTEGER}, #{action,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tianxin.entity.Log">
    insert into logs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="action != null">
        action,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="level != null">
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tianxin.entity.Log">
    update logs
    <set>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tianxin.entity.Log">
    update logs
    set action = #{action,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>